*,
*::before,
*::after {
  box-sizing: border-box;
}

.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 0;
  background: linear-gradient(180deg, rgb(5, 14, 29) 0%, rgb(5, 14, 29) 100%);

  // background:
  //   radial-gradient(circle at 0% 0%, rgba(15, 30, 60, 0.7) 0%, rgba(5, 14, 29, 0.7) 60%, transparent 100%),
  //   radial-gradient(circle at 100% 100%, rgba(15, 30, 60, 0.7) 0%, rgba(5, 14, 29, 0.7) 60%, transparent 100%),
  //   rgb(5, 14, 29);
}

// Animacion foto

.morphing-border {
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 10s infinite;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    animation-play-state: paused;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
}

// presentation

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  min-height: 100vh;
}

.about-me-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0rem;
}

.left-column p {
  font-size: 2.3rem;
}

.left-column h1 {
  font-size: 4.3rem;
  color: #00bfff;
}

.left-column p,
.left-column h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
}

.left-column .buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.left-column button {
  display: inline-flex;
  align-items: center;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  background: #02b5e8;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.left-column button:hover {
  background: #02b5e8;
}

.right-column .profile-pic {
  width: 350px;
  height: 351px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #02b5e8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}

.right-column .profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// About me

.about-me-section {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  background: rgb(7, 23, 57);
  padding: 4rem 0 3rem 0vw;
  color: #fff;
  text-align: left;
  box-sizing: border-box;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
}

.about-me-content {
  max-width: 1324px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.about-columns {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}

.about-columns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.about-education,
.about-tech {
  flex: 1 1 300px;
  background: rgba(7, 23, 57, 0.3);
  padding: 2rem 1rem;
  border-radius: 16px;
  text-align: left;
  box-sizing: border-box;
}

.about-education h3,
.about-tech h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about-education ul {
  display: block;
  padding-left: 1.2rem;
  margin: 0;
  list-style: disc;
}

.about-tech ul {
  display: flex;
  gap: 2rem;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.about-education ul li::marker {
  color: #00bfff;
  font-size: 1em; // Opcional: haz el punto un poco más grande
}

.about-education li,
.about-tech li {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.education-detail,
.education-year {
  color: #e0e0e091;
  font-size: 0.95em;
  margin-left: 2px;
  margin-top: 2px;
}
.education-year {
  font-size: 0.85em;
  opacity: 0.8;
}

.tech-list {
  display: flex;
  gap: 2rem;
  padding-left: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}
.tech-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #fff;
}
.tech-list li div {
  margin-top: 0.5rem;
}

// Proyects

.projects-section {
  // width: 100vw;
  // margin-left: 50%;
  // transform: translateX(-50%);
  // background: rgb(23, 1, 23);
  padding: 4rem 0 6rem 0;
  color: #fff;
  box-sizing: border-box;
}

.projects-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0rem;
}

.projects-content h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.projects-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.project-card {
  background: rgb(7, 23, 57);
  border-radius: 10px;
  padding: 2rem 1.5rem;
  width: 320px;
  display: flex;
  border: #008fcc5c solid 1px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.project-card h3 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.4rem;
  align-self: flex-start;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  text-align: left;
}

.project-buttons {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
}

.project-buttons button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.59rem 1rem;
  border: none;
  border-radius: 5px;
  background: #02b5e8;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s;
}

.button1 {
  display: inline-flex;
  align-items: center;
  padding: 0.47rem 1rem !important;
  background: rgb(7, 23, 57) !important;
  border: #02b5e8 solid 2px !important;
  color: #02b5e8 !important;
}

.project-buttons button:hover {
  background: #02b5e8;
}

.project-languages {
  margin: 0px 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center; 
  align-self: start;
}

.language-badge {
  display: inline-flex;
  align-items: center;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 0.85rem;
  font-weight: 600;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}



/* React */
.language-badge.react {
  color: #61dafb;
  background-color: rgba(97, 218, 251, 0.1);
}

/* JavaScript */
.language-badge.js {
  color: #f7df1e;
  background-color: rgba(247, 223, 30, 0.1);
}

/* Node.js */
.language-badge.node {
  color: #3c873a;
  background-color: rgba(60, 135, 58, 0.1);
}

/* Python */
.language-badge.python {
  color: #3776ab;
  background-color: rgba(55, 118, 171, 0.1);
}

/* Kotlin */
.language-badge.kotlin {
  color: #0095d5;
  background-color: rgba(0, 149, 213, 0.1);
}

// Contact

.contact-me-section {
  width: 100%;
  // margin-left: 50%;
  // transform: translateX(-50%);
  background: rgb(7, 23, 57);
  padding: 6rem 0 6rem 0;
  color: #fff;
  box-sizing: border-box;
}

.contact-me-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.contact-me-content h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.contact-columns {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-info {
  flex: 1;
  min-width: 220px;
  background: rgba(7, 23, 57, 0.3);
  padding: 2rem 1.5rem;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.contact-info h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.contact-info ul {
  padding-left: 0rem;
  margin: 0;
  list-style: none;
}

.contact-info li {
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
}

.contact-social {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.contact-social a {
  color: #02b5e8;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.contact-social a:hover {
  color: #fff;
}

.contact-form {
  flex: 1;
  min-width: 280px;
  background: rgba(5, 14, 29);
  padding: 2rem 1.5rem;
  border-radius: 10px;
}

.contact-form h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  background: rgb(7, 23, 57);
  border: #008fcc5c solid 1px;
  color: #fff;
  resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #fff;
  opacity: 1;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: 2px solid #00bfff;
}

.contact-form button[type="submit"] {
  padding: 0.9rem 2rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  background: #00bfff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 0.5rem;
}

.contact-form button[type="submit"]:hover {
  background: rgb(1, 181, 234);
}

@media (max-width: 1024px) {
  .columns {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
  }

  .left-column,
  .right-column {
    align-items: center;
    text-align: center;
  }

  .left-column h1 {
    font-size: 3rem;
  }

  .left-column p {
    font-size: 1.5rem;
  }

  .left-column .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .right-column .profile-pic {
    width: 250px;
    height: 250px;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .left-column h1 {
    font-size: 2.4rem;
  }

  .left-column p {
    font-size: 1.2rem;
  }

  .right-column .profile-pic {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .about-columns {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .tech-list li {
    width: 70px;
  }

  .about-me-content h2 {
    text-align: left;
    font-size: 2rem;
  }

  .about-me-content p {
    text-align: left !important;
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {
  .projects-columns {
    grid-template-columns: repeat(2, 1fr); // Desde 768px: 2 columnas fijas
  }
}

@media (max-width: 480px) {
  .projects-content {
    padding: 0 1rem;
  }
}
